:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #df3ed1;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}
/* --activeItem: #f799a354; */
.App {
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  height: 135vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.AppGlass{
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: 12rem auto 3rem;
}

form { 
  width: 80%; 
  background-color: #ffcfd140;
  margin-top: 20px; 
  margin-bottom: 20px;
  padding: 3rem; 
  max-width: 600px; 
  min-width: 300px;
  text-align: left;
} 

.container{
  height: 100%;
}

.form {
  /* display: flex;
  justify-content: center; */
}

.group { 
  width: 100%; 
  display: block; 
  margin: 0 0 0.5em 0; 
} 
input, label, textarea, select { 
  box-sizing: border-box; 
  width: 100%; 
  margin: 0.5rem 0; 
  padding: 0.5rem; 
  border-radius: 4px; 
  border: none; 
  font-size: inherit; 
  font-family: inherit; 
} 
label { 
  padding:0; 
} 
.inline { 
  display: inline-grid; 
} 
.inline input { 
  width: unset; 
} 
p { 
  margin: 0.5rem 0; 
} 
.inline label { 
  margin: 0; 
  padding: 0; 
  text-indent: 0; 
} 
textarea { 
  resize: none;
} 
#submit { 
  background-color: #FFE9B1; 
}
